{% extends 'sociallo/base.html' %}

{% block main %}
 <div>
 <h1>Sociallo (social login örneği)</h1>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Selam olsun sana <b>{{ user.get_full_name|default:user.username }}</b>!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Çıkış Yap</a>
     </li>
     {{ user }}
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Twitter ile Gir</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Facebook ile Gir (domain olmadan çalışmıyor)</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Google ile gir (domain olmadan çalışmıyor)</a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}
